* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.fps {
  position: absolute;
  top: 30px;
  left: 30px;
  color: gray;
  font-family: monospace;
  font-size: 1.75em;
  z-index: 1;
}